/* Create three unequal columns that floats next to each other */
.column { float: left; padding: 10px; }
/* Left and right column */
.column.map { width: 25%; }
  /* Middle column */
.column.middle {
    width: 45%;
    padding-left:20%;
}
   /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
        }
/* Set the size of the div element that contains the map */
#map {
    height: 400px;  /* The height is 400 pixels */
    width: 100%;  /* The width is the width of the web page */
   }
